# COFGA 

This notebook shows how the data is preprocessed using one hot encoding.

### Created by
#### Rasmus Davidsen & Lukkas Hamann

In [4]:
%matplotlib inline
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

import skimage
from IPython.display import clear_output
from skimage.io import imread
from skimage.transform import resize


import torch
import torchvision

import data_utils

import sys
sys.path.append(os.path.join('.', '..')) # Allow us to import shared custom 
                                         # libraries, like utils.py

## Loading the data

In [5]:
# loading the train.csv to find features for each training point
train = pd.read_csv('dataset/train.csv')
print("Training data shape:\t", train.shape)

Training data shape:	 (11617, 26)

### showing data

In [6]:
# Restructuring data
train.replace(' ', '_', regex=False,inplace=True)  # changed from regex=True to regex=False
train.replace('/', '_', regex=False,inplace=True)   # changed from regex=True to regex=False
train[1:4].T

                                 1              2              3
ID                     16490_31658    17122_26971    12193_19301
tag_id                       31658          26971          19301
image_id                     16490          17122          12193
p1_x                        3380.8        3948.33         1977.8
p_1y                       33.3709         1426.8        1009.01
 p2_x                      3329.81        3958.88        1983.44
 p2_y                      128.465        1410.75        992.097
 p3_x                      3358.06        4000.67        2034.18
 p3_y                      142.936         1438.2        1009.01
 p4_x                      3409.06        3990.12        2027.91
 p4_y                      44.3964        1454.25        1027.18
general_class        large vehicle  small vehicle  small vehicle
sub_class                    truck          sedan          sedan
sunroof                         -1              0              0
luggage_carrier                 -1              0              0
open_cargo_area                  0              0              0
enclosed_cab                    -1              0              0
spare_wheel                     -1              0              0
wrecked                          0              0              0
flatbed                         -1             -1             -1
ladder                           0             -1             -1
enclosed_box                     1             -1             -1
soft_shell_box                   0             -1             -1
harnessed_to_a_cart              0             -1             -1
ac_vents                        -1             -1             -1
color                          red            red    silver/grey

### Preparing data by applying one hot encoding

In [7]:
# applying the one hot encoding for the nescessary classes using pandas built in function
train = pd.get_dummies(train, columns=["sub_class", "general_class", "color"])

# Defining target for train by dropping coordinates, imgage id and tag ID.
train_target = train.iloc[:,11:]

# For now replacing -1 with 0 
train_target = train_target.replace(-1, 0)

numberObservations = train_target.shape[0]

train_target[1:4].T

                                          1  2  3
sunroof                                   0  0  0
luggage_carrier                           0  0  0
open_cargo_area                           0  0  0
enclosed_cab                              0  0  0
spare_wheel                               0  0  0
wrecked                                   0  0  0
flatbed                                   0  0  0
ladder                                    0  0  0
enclosed_box                              1  0  0
soft_shell_box                            0  0  0
harnessed_to_a_cart                       0  0  0
ac_vents                                  0  0  0
sub_class_bus                             0  0  0
sub_class_cement mixer                    0  0  0
sub_class_crane truck                     0  0  0
sub_class_dedicated agricultural vehicle  0  0  0
sub_class_hatchback                       0  0  0
sub_class_jeep                            0  0  0
sub_class_light truck                     0  0  0
sub_class_minibus                         0  0  0
sub_class_minivan                         0  0  0
sub_class_pickup                          0  0  0
sub_class_prime mover                     0  0  0
sub_class_sedan                           0  1  1
sub_class_tanker                          0  0  0
sub_class_truck                           1  0  0
sub_class_van                             0  0  0
general_class_large vehicle               1  0  0
general_class_small vehicle               0  1  1
color_black                               0  0  0
color_blue                                0  0  0
color_green                               0  0  0
color_other                               0  0  0
color_red                                 1  1  0
color_silver/grey                         0  0  1
color_white                               0  0  0
color_yellow                              0  0  0